<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body>

        <header>
            <div id="header-content"></div>
                <div class="logo">
                    Logo
                </div>
        </div>
        </header>

        <section id="search">
            <form id="text-input" onsubmit="return Client.apiCall(event)">
                <input type="text" id="city-search" name="city-search" placeholder="City, State">
                <input type="date" id="date-search" name="date-search" placeholder="01/21/2020">
                <input id="search-button" type="submit" name="" value="Start a Trip">
            </form>
            
        </section>
        
        <section id="search-results">

        </section>

        <section id="trip-info">

        </section>

        <footer>
            <p>This is a footer</p>
        </footer>

      <!-- <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script> -->

    </body>
</html>
