$primary-color: #00A9F0;
$light: #fff;
$mainfonts: Arial, Helvetica, sans-serif;
$cta: #C3CF0E;

body {
    min-height: 700px;
    background-color: $light;
    display: grid;
    grid-template-rows: 60px 1fr 30px;
}
